<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>El portal donde podrás crear tus porpios Juegos.</p>
      <table>
          <% var i; for (i=0; i < quizes.length; i++ {)%>
          <tr><td><a href="quizes/<%= quizes[i].id %>"<%= quizes[i].pregunta %></a></td></tr>
          <% } %>
      </table>
    <%--<p><a href="/quizes/question">Go!</a></p>--%>
  </body>
</html>
